.pedido-container {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #8b4513;
  background-color: #d2b48c;
  border-radius: 10px;
}

.pedidos-list {
  list-style: none;
  padding: 0;
}

.pedido-item {
  margin-bottom: 20px;
}

.piezas-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pieza-item {
  flex-basis: calc(50% - 20px);
  border: 2px solid #8b4513;
  background-color: #d2b48c;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  height: 270px;
}

.piezas-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pieza-item {
  flex-basis: calc(
    50% - 20px
  ); /* Dos columnas con espacio entre ellas, menos ancho */
  border: 2px solid #8b4513;
  background-color: #d2b48c;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  height: 270px; /* Ajusta la altura según sea necesario */
}

.pieza-item h3 {
  margin-bottom: 10px;
}

.pieza-item img {
  width: 40%; /* Ajusta el ancho según sea necesario */
  max-height: 100%; /* La imagen ocupará la altura completa de la caja */
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.pieza-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* La información ocupa todo el espacio disponible */
}

.nueva-pieza-btn-container {
  text-align: center;
  margin-top: 20px;
}

.completar-btn-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.opcion-material {
  text-align: center;
  margin-bottom: 20px; /* Ajusta la distancia entre cada opción */
}

.opcion-material img {
  width: 100%;
  max-width: 200px; /* Ajusta el tamaño máximo según tus necesidades */
  height: auto;

  border-radius: 10px; /* Puedes ajustar el valor según tu preferencia */
  margin-bottom: 10px;
}

.opcion-material .realizar-pedido-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; /* Cambiado a blanco para que sea visible en botón beige */
  background-color: #d2b48c; /* Cambiado a beige */
  border: solid 2px #d2b48c; /* Cambiado a beige */
  border-radius: 10px; /* Puedes ajustar el valor según tu preferencia */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 80%;
}

.opcion-material .realizar-pedido-btn:hover {
  background-color: #a08a60;
  box-shadow: 0px 15px 20px rgba(229, 177, 46, 0.4);
  color: #fff;

  transform: translateY(-7px);
}

.opcion-material .realizar-pedido-btn:active {
  transform: translateY(-1px);
}
.opcion-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #1f1b15;
  border-radius: 15px;
}

.nombre-material {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
}
.estado-select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Ajusta el margen según tus necesidades */
  margin-left: 20px;
}
.estado-btn {
  padding: 8px;
  font-size: 14px;
  background-color: #4caf50; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: 1px solid #4caf50; /* Borde del botón */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición al pasar el ratón */
}

.estado-btn:hover {
  background-color: #45a049; /* Cambio de color al pasar el ratón */
}

.pedido-item {
  border-radius: 10px; /* Borde redondeado */
  margin: 10px 0; /* Margen superior e inferior */
  padding: 15px; /* Relleno interno del contenedor */

  /* Agrega cualquier otro estilo que desees según tus preferencias */
}

.pedido-item h3 {
  color: #333; /* Color del encabezado */
  margin-bottom: 10px; /* Espaciado inferior del encabezado */
}

.pedido-item p {
  color: #555; /* Color del texto */
}

.cantidad-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Ajusta el margen según tus necesidades */
}

/* Estilos para el botón de continuar */
.continuar-btn {
  padding: 8px;
  font-size: 14px;
  background-color: #4caf50; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: 1px solid #4caf50; /* Borde del botón */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición al pasar el ratón */
}

/* Estilo al pasar el ratón sobre el botón de continuar */
.continuar-btn:hover {
  background-color: #45a049;
}

/* Agrega estilos adicionales según tus necesidades */
